{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'layers/styles.css' %}">
    <link rel="stylesheet" href="{% static 'layers/libs/v6.1.1-dist/ol.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
        #cities-map {
            height: 100vh;
        }

        .active {
            background-color: red;
        }

        p:hover {
            background-color: blue;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="row">
        <div class="col-md-1">
            <div class="nav-menu">
                <p class="active" id="Home">Home</p>
                <p id="Subotica">Su</p>
                <p id="Novi Sad">NS</p>
                <p id="Beograd">Bg</p>
                <p id="Cacak">Ca</p>
                <p id="Kragujevac">Kg</p>
                <p id="Nis">Ni</p>

            </div>
        </div>
        <div class="col-md-9">
            <div id="cities-map" class="map"></div>
        </div>
        <div class="col-md-2">
            <h1 id="city-name">Home</h1>
        </div>

    </div>

    <p class="popup" id="srk">1</p>




    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.0/proj4-src.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.0/proj4.js"></script>

    <script src="{% static 'layers/cities.js' %}"></script>
    <script src="{% static 'layers/libs/v6.1.1-dist/ol.js' %}"></script>
</body>

</html>